
<style>
  
  

</style>

<main class="content" role="main">

    
    
    
  </main>
  
  <footer class="fixed_footer">
    <div class="content">
      <p> Tel: 0612345678
        E-mail: www.testimonia.windesheim.nl
        © 2023 Windesheim-Testimonials</p>
    </div>
  </footer>