
<style>
  
  

</style>

<main class="content" role="main">

    
    
    
  </main>
  
  <footer class="fixed_footer">
    <div class="content">
      <p> moujoshnir is tt homo mocro</p>
    </div>
  </footer>