<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    

    <link rel="stylesheet" href="style.css">

    <script>

document.addEventListener('DOMContentLoaded', function () {
    const addStudentButton = document.getElementById('addStudent');
    const studentFields = document.getElementById('studentFields');

    addStudentButton.addEventListener('click', function () {
        const newStudentField = document.createElement('input');
        newStudentField.type = 'text';
        newStudentField.name = 'student_name';
        newStudentField.className = 'student-name';
        newStudentField.required = true;
        studentFields.appendChild(newStudentField);
        console.log("hello word");
        console.log("test");
    });
});

    </script>

    
        
        
  
    
</head>