<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    

    <link rel="stylesheet" href="style.css">

    <script>

document.addEventListener('DOMContentLoaded', function () {
    const addStudentButton = document.getElementById('addStudent');
    const studentFields = document.getElementById('studentFields');

    addStudentButton.addEventListener('click', function () {
        const newStudentField = document.createElement('input');
        newStudentField.type = 'text';
        newStudentField.name = 'student_name';
        newStudentField.className = 'student-name';
        newStudentField.required = true;
        studentFields.appendChild(newStudentField);
        console.log("hello word");
        console.log("test");
    });
});


        function speakPage() {
            if ('speechSynthesis' in window) {
                var msg = new SpeechSynthesisUtterance();
                
                // Verzamel alle tekst van de pagina
                var allText = document.documentElement.innerText;
                
                if (allText !== '') {
                    msg.text = allText;
                    window.speechSynthesis.speak(msg);
                } else {
                    alert("Geen tekst om voor te lezen.");
                }
            } else {
                alert("Sorry, je browser ondersteunt geen spraaksynthese.");
            }
        }
    
    </script>
</head>