<Style>

</style>
<nav>
    <div class="wrapper">
      <div class="logo"><a href="/">Windesheim Testimonials</a></div>
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
        <li><a href="/">Home</a></li>
        <li><a href="about">About</a></li>
        <li>
          <a href="#" class="desktop-item">Testimonials</a>
          <input type="checkbox" id="showDrop">
          <label for="showDrop" class="mobile-item">Testimonials</label>
          <ul class="drop-menu">
            <li><a href="#">BIM</a></li>
            <li><a href="#">SE</a></li>
            <li><a href="#">Cloud</a></li>
            <li><a href="#">Embedded Systems</a></li>
          </ul>
        </li>
        <li>
          <li><a href="#">Feedback</a></li>
          <li><a href="/form"> Formulier</a></li>
          
      <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
  </nav>
  
  <div class="body-text">
   
  </div>