<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %>
<body>

    
    <%- include("partials/nav.ejs") %>

    <body>
        <header>
            <h1>About Us</h1>
        </header>
        <main>
            <section id=" ">
                <h1>Over ons</h1>
                <p>Ontdek wie we zijn en wat we doen</p>
                
                <img src="wikihow-teaching-life-lessons-v0-n52r08xxugj81.webp ">
            
            </section>
            <section id="description">
                <h2>Onze missie</h2>
                <p>We hebben een website waar we de co-makers van oud-studenten op een boeiende en informatieve manier onder de aandacht brengen. Ons doel is om aankomende studenten een beter inzicht te geven in de opdrachten die tijdens co-makerships worden gemaakt.
                    © 2023 Windesheim-Getuigenissen</p>
            </section>
            <section id =" ">
                <h2>Het Team</h2>
                <p>Hamza:
                    <br>
                    Joshua:
                    <br>
                    Kevin:
                </p>
            </section>
            <section id=" ">
                <h2>Contact</h2>
                Tel: 0612345678
                <br>
                E-mail: www.testimonia.windesheim.nl
            </section>
        </main>
        <footer>
            <p>&copy; 2023  Windesheim-Testimonials</p>
        </footer>
        <script src="script.js"></script>
    

    <%- include("partials/footer.ejs") %>
</body>
</html>