<!DOCTYPE html>
<html lang="en">

    <%- include("partials/head.ejs") %>
    
    <body>
        <%- include("partials/nav.ejs") %>

      
        
        <p> thank you for entering our form we will get to businessn soon</p><p> thank you for entering form</p><p> thank you for entering form</p>





        <%- include("partials/footer.ejs")  %>
</body>
</html>